<!doctype html>
<html lang="pl">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Opis strony.">
    
    <title>Ekstraklasa Trolls</title> 
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,800&amp;subset=latin-ext" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
</head>
<body>

    <!-- ####### Header ####### -->
    <header class="et-header">
        <div class="container px-xl-0">
            <nav class="navbar navbar-expand-lg navbar-dark et-header">
                
                <!-- Logo -->
                <a class="navbar-brand" href="#"><img src="img/et_logo.png" alt="Logo"></a>

                <!-- Hamburger -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Main menu -->
                <div class="collapse navbar-collapse" id="mainMenu">
                  
                    <ul class="navbar-nav mr-auto text-uppercase et-menu">
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Newsy</a>                 
                            <div class="dropdown-menu et-menu-dropdown" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Newsy</a>
                                <a class="dropdown-item" href="#">Artykuły</a>
                                <a class="dropdown-item" href="#">Wywiady</a>
                                <a class="dropdown-item" href="#">Felietony</a>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Memy</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video</a>
                        </li>
                        
                    </ul>
                    
                </div>
                 
                <!-- Login -->  
                <a class="text-uppercase et-login" href="#"><i class="far fa-user mr-3 et-login-icon"></i>Zaloguj się</a>
                   
                <!-- Social -->
                <div class="et-social">
				    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="far fa-envelope"></i></a>
                </div>
                
                <!-- Search -->   
                <form class="form-inline et-search">
                    <input class="form-control" type="search" placeholder="Szukaj" aria-label="Search">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
                    
            </nav>
        </div>
    </header>
    <!-- ####### End of Header ####### -->
    
    <!-- ####### Section: pinned ####### -->
    <section class="et-pinned">
        <div class="container px-xl-0">          
            <div class="row">
                
                <!-- Single big card column -->
                <div class="col-md-6">
                    
                    <!-- Big card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                            <p class="card-text et-card-date">
                               15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>
                
                <!-- Small cards column 1 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->                 
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">MU przechwyci Alexisa? Chilijczyk bliski przenosin na Old Trafford</h3>
                            <p class="card-text et-card-date">
                               14 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">4</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Felietony</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">MŚ 2018: Senegal zagra towarzysko ze Szkocją</h3>
                            <p class="card-text et-card-date">
                               11 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">0</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-videos" href="#">Video</a>
                            <i class="far fa-play-circle et-card-video-icon"></i>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>
                
                <!-- Small cards column 2 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->               
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Ligue 1: sędzia tłumaczy się ze swojego zachowania</h3>
                            <p class="card-text et-card-date">
                               10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">12</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-memes" href="#">Memy</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                               10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>
                
                <!-- Vertical ad -->
                <img class="mx-auto et-ad-vertical" src="img/728x90.png" alt="">
                
            </div>
        </div>                  
    </section>
    <!-- ####### End of Section: pinned ####### -->
    
    <!-- ####### Section: News ####### -->
    <section>
        <div class="container px-xl-0">
            
            <!-- Section header -->
            <h1 class="text-uppercase et-section-title">Newsy</h1>
            
            <div class="row">
                
                <!-- Small cards column 1 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->     
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>

                </div>
                
                <!-- Small cards column 2 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card --> 
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div> 
                    
                </div>               
                    
                <!-- Small cards column 3 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card --> 
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>              
                    
                <!-- Small cards column 4 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="card-link text-lowercase text-white et-card-category-news" href="#">Wywiady</a>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Square ad -->                       
                    <div class="card mb-4 et-card-ad">
                        <img class="card-img" src="img/300x250.png" alt="">
                    </div>

                </div>
                
                <!-- Button see more -->
                <a class="btn text-uppercase et-more-btn et-more-news-btn" href="#" role="button">Zobacz więcej</a>
            
            </div>           
            
        </div>     
    </section>
    <!-- ####### End of Section: News ####### -->    
    
    <!-- ####### Section: Memes ####### -->
    <section class="et-memes">
        <div class="container px-xl-0">
            
            <!-- Section header -->
            <h2 class="text-uppercase et-section-title">Memy</h2>
            
            <div class="row">
                
                <!-- Single big card column 1 -->
                <div class="col-md-6">
                    
                    <!-- Big card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                            <p class="card-text et-card-date">
                               15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>
                
                 <!-- Single big card column 2 -->
                <div class="col-md-6">
                    
                    <!-- Big card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                            <p class="card-text et-card-date">
                               15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>
            
            </div>               
            
            <div class="row">
                
                <!-- Small cards column 1 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>

                </div>
                
                <!-- Small cards column 2 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>               
                    
                <!-- Small cards column 3 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>              
                    
                <!-- Small cards column 4 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Square ad -->                       
                    <div class="card mb-4 et-card-ad">
                        <img class="card-img" src="img/300x250.png" alt="">
                    </div>

                </div>
                
                <!-- Button see more -->
                <a class="btn text-uppercase et-more-btn et-more-memes-btn" href="#" role="button">Zobacz więcej</a>
            
            </div>           
            
        </div>     
    </section>
    <!-- ####### End of Section: Memes ####### -->    
    
    <!-- ####### Section: Videos ####### -->
    <section class="et-videos">
        <div class="container px-xl-0">
            
            <!-- Section header -->
            <h2 class="text-uppercase text-white et-section-title">Video</h2>
            
            <div class="row">
                
                <!-- Small cards column 1 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <i class="far fa-play-circle et-card-video-icon"></i>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <i class="far fa-play-circle et-card-video-icon"></i>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>

                </div>
                
                <!-- Small cards column 2 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <i class="far fa-play-circle et-card-video-icon"></i>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <i class="far fa-play-circle et-card-video-icon"></i>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>               
                    
                <!-- Small cards column 3 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <i class="far fa-play-circle et-card-video-icon"></i>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <i class="far fa-play-circle et-card-video-icon"></i>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                </div>              
                    
                <!-- Small cards column 4 -->
                <div class="col-md-3">
                    
                    <!-- Small card -->
                    <div class="card bg-dark text-white et-card">
                        <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                        <div class="card-img-overlay">
                            <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                            <p class="card-text et-card-date">
                                10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                            </p>
                            <i class="far fa-play-circle et-card-video-icon"></i>
                            <a class="et-card-link" href="#" ></a>
                        </div>
                    </div>
                    
                    <!-- Square ad -->                       
                    <div class="card mb-4 et-card-ad">
                        <img class="card-img" src="img/300x250.png" alt="">
                    </div>

                </div>
                
                <!-- Button see more -->
                <a class="btn text-uppercase et-more-btn et-more-videos-btn" href="#" role="button">Zobacz więcej</a>
            
            </div>           
            
        </div>     
    </section>
    <!-- ####### End of Section: Videos ####### -->
    
    <!-- ####### Footer ####### -->
    <footer class="et-footer">
        <div class="container px-xl-0">
            <div class="row">
                
                <div class="col-md-3">
                    
                    <!-- Footer menu -->
                    <ul class="nav flex-column text-uppercase">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Newsy</a>
                            
                            <ul class="et-footer-submenu-link">
                                <li class="nav-item"><a class="nav-link" href="#" >Newsy</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Artykuły</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Wywiady</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Felietony</a></li>
                            </ul>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Memy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video</a>
                        </li>

                    </ul>
                    
                </div>
                
                <div class="col-md-3">
                    
                    <!-- Footer menu with info pages -->
                    <ul class="nav flex-column text-uppercase">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Redakcja</a>       
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reklama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Polityka prywatności</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontakt</a>
                        </li>

                    </ul>
                    
                </div>
                
                <div class="col-md-3">
                    
                    <!-- Socials -->
                    <div class="et-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="far fa-envelope"></i></a>
                    </div>
                    
                    <!-- Copy -->
                    <div class="et-copy">
                        <p>&copy; 2018 Ekstraklasa Trolls<br />
                        Wszelkie prawa zastrzeżone.<br /><br />
                        Realizacja: <a href="https://kompromix.pl/" target="_blank">kompromix</a></p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </footer>    
    <!-- ####### End of Footer ####### -->    
    
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>