<!doctype html>
<html lang="pl">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Opis strony.">
    
    <title>Info - Ekstraklasa Trolls</title> 
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,800&amp;subset=latin-ext" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
</head>
<body>

    <!-- ####### Header ####### -->
    <header class="et-header">
        <div class="container px-xl-0">
            <nav class="navbar navbar-expand-lg navbar-dark et-header">
                
                <!-- Logo -->
                <a class="navbar-brand" href="#"><img src="img/et_logo.png" alt="Logo"></a>

                <!-- Hamburger -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Main menu -->
                <div class="collapse navbar-collapse" id="mainMenu">
                  
                    <ul class="navbar-nav mr-auto text-uppercase et-menu">
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Newsy</a>                 
                            <div class="dropdown-menu et-menu-dropdown" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Newsy</a>
                                <a class="dropdown-item" href="#">Artykuły</a>
                                <a class="dropdown-item" href="#">Wywiady</a>
                                <a class="dropdown-item" href="#">Felietony</a>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Memy</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video</a>
                        </li>
                        
                    </ul>
                    
                </div>
                 
                <!-- Login -->  
                <a class="text-uppercase et-login" href="#"><i class="far fa-user mr-3 et-login-icon"></i>Zaloguj się</a>
                   
                <!-- Social -->
                <div class="et-social">
				    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="far fa-envelope"></i></a>
                </div>
                
                <!-- Search -->   
                <form class="form-inline et-search">
                    <input class="form-control" type="search" placeholder="Szukaj" aria-label="Search">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
                    
            </nav>
        </div>
    </header>
    <!-- ####### End of Header ####### -->
    
    <!-- ####### Content ####### -->
    <div class="container px-xl-0">          
        <div class="row">
               
                <!-- ####### Main content ####### -->
                <div class="col-md-9">
                   
                    <div class="et-single-post">
                        
                        <!-- Post title -->
                        <h1 class="et-single-post-title">Strona informacyjna</h1>
                        
                        <!-- Post content -->
                        <p class="et-single-post-content"><strong>Atletico Madryt tylko zremisowało u siebie z Girona FC 1:1. Ten remis zmniejszył szansę podopiecznych Diego Simeone na dogonienie liderującej w tabeli Barcelony. Bramkę dla gospodarzy zdobył Antoine Griezmann, wyrównał Portu.</strong><br/><br/>
                        Ten mecz Atletico musiało wygrać, aby mieć szansę na skuteczny pościg za FC Barcelona. Przewaga Blaugrany przed tym spotkaniem wynosiła dziewięć punktów. Teraz może wzrosnąć, bo piłkarze z Madrytu swój mecz tylko zremisowali.<br/><br/>
                        Wszystko zaczęło się zgodnie z oczekiwaniami. W 33. minucie do bramki rywali trafił Griezmann. Gospodarze w tej akcji "złamali pułapkę ofsajdową" przeciwników. Błyskawicznie przed bramkarzem Girony znalazł się Diego Costa, a po otrzymaniu prostopadłego podania, zagrał w tył do wbiegającego Francuza. Napastnik Atletico nie miał problemu ze strzeleniem gola. Protesty gospodarzy, którzy domagali się odgwizdania spalonego, na nic się nie zdały.<br/><br/>
                        Goście wyrównali w 73. minucie, gdy udało im się wykorzystać zamieszanie podbramkowe. Co ciekawe Girona była bliska zdobycie bramki chwilę wcześniej, ale Atletico na moment się wyratowało z opresji. Piłka błyskawicznie wróciła w pole karne, a wślizgiem do bramki faworyzowanych przeciwników posłał ją Portu czyli Cristian Portugués.<br/><br/>
                        Atletico mogło przegrać ten mecz. W 90. minucie pojedynek szybkościowy z obrońcami gospodarzy wygrał Michael Olunga Ogada i zbliżył się z piłką do bramki Jana Oblaka. Słoweński bramkarz szybko z niej wyszedł i sfaulował Kenijczyka. Sędzia miał prawo pokazać mu czerwoną kartkę, ale wyjął tylko żółtą. Wynik już się nie zmienił.<br/><br/>
                        Remis Atletico oznacza, że FC Barcelona w przypadku wygranej z Betisem Sewilla będzie miała jedenaście punktów przewagi. Girona FC nie poprawiła znacząco swojej pozycji.</p>

                    </div>

                </div>
                <!-- ####### End of Main content ####### -->

                <!-- ####### Right sidebar ####### -->
                <div class="col-md-3">
                   
                    <div class="et-single-post">
                        
                        <!-- Facebook -->                       
                        <div class="card mb-4 et-card-ad">
                            <img class="card-img" src="img/fb.png" alt="">
                        </div>

                        <!-- Square ad -->                       
                        <div class="card mb-4 et-card-ad">
                            <img class="card-img" src="img/300x250.png" alt="">
                        </div>
                    
                    </div>             

                </div>
                <!-- ####### End of Right sidebar ####### -->

                <!-- Vertical ad -->
                <img class="mx-auto et-ad-vertical" src="img/728x90.png" alt="">
      
        </div>
    </div>
    <!-- ####### End of Content ####### -->
    
    <!-- ####### Footer ####### -->
    <footer class="et-footer">
        <div class="container px-xl-0">
            <div class="row">
                
                <div class="col-md-3">
                    
                    <!-- Footer menu -->
                    <ul class="nav flex-column text-uppercase">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Newsy</a>
                            
                            <ul class="et-footer-submenu-link">
                                <li class="nav-item"><a class="nav-link" href="#" >Newsy</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Artykuły</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Wywiady</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Felietony</a></li>
                            </ul>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Memy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video</a>
                        </li>

                    </ul>
                    
                </div>
                
                <div class="col-md-3">
                    
                    <!-- Footer menu with info pages -->
                    <ul class="nav flex-column text-uppercase">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Redakcja</a>       
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reklama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Polityka prywatności</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontakt</a>
                        </li>

                    </ul>
                    
                </div>
                
                <div class="col-md-3">
                    
                    <!-- Socials -->
                    <div class="et-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="far fa-envelope"></i></a>
                    </div>
                    
                    <!-- Copy -->
                    <div class="et-copy">
                        <p>&copy; 2018 Ekstraklasa Trolls<br />
                        Wszelkie prawa zastrzeżone.<br /><br />
                        Realizacja: <a href="https://kompromix.pl/" target="_blank">kompromix</a></p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </footer>    
    <!-- ####### End of Footer ####### -->    
    
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>