<!doctype html>
<html lang="pl">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Opis strony.">
    
    <title>Newsy lista - Ekstraklasa Trolls</title> 
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,800&amp;subset=latin-ext" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
</head>
<body>

    <!-- ####### Header ####### -->
    <header class="et-header">
        <div class="container px-xl-0">
            <nav class="navbar navbar-expand-lg navbar-dark et-header">
                
                <!-- Logo -->
                <a class="navbar-brand" href="#"><img src="img/et_logo.png" alt="Logo"></a>

                <!-- Hamburger -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Main menu -->
                <div class="collapse navbar-collapse" id="mainMenu">
                  
                    <ul class="navbar-nav mr-auto text-uppercase et-menu">
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Newsy</a>                 
                            <div class="dropdown-menu et-menu-dropdown" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Newsy</a>
                                <a class="dropdown-item" href="#">Artykuły</a>
                                <a class="dropdown-item" href="#">Wywiady</a>
                                <a class="dropdown-item" href="#">Felietony</a>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Memy</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video</a>
                        </li>
                        
                    </ul>
                    
                </div>
                 
                <!-- Login -->  
                <a class="text-uppercase et-login" href="#"><i class="far fa-user mr-3 et-login-icon"></i>Zaloguj się</a>
                   
                <!-- Social -->
                <div class="et-social">
				    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="far fa-envelope"></i></a>
                </div>
                
                <!-- Search -->   
                <form class="form-inline et-search">
                    <input class="form-control" type="search" placeholder="Szukaj" aria-label="Search">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
                    
            </nav>
        </div>
    </header>
    <!-- ####### End of Header ####### -->
    
    <!-- Page header -->
    <div class="container px-xl-0">
        <h1 class="text-uppercase et-section-title">Newsy</h1>
    </div>
    
    <!-- ####### Content ####### -->
    <div class="container px-xl-0">          
        <div class="row">
                
            <!-- ####### Left sidebar ####### -->
            <div class="col-md-3">
                               
                <!-- Facebook -->                       
                <div class="card mb-4 et-card-ad">
                    <img class="card-img" src="img/fb.png" alt="">
                </div>
                   
                <!-- Square ad -->                       
                <div class="card mb-4 et-card-ad">
                    <img class="card-img" src="img/300x250.png" alt="">
                </div>
                
                <!-- Sidebar latest videos header -->
                <h2 class="text-uppercase et-sidebar-title">Najnowsze video</h2>
                
                <!-- Sidebar latest videos small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <i class="far fa-play-circle et-card-video-icon"></i>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                
                <!-- Sidebar latest videos small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <i class="far fa-play-circle et-card-video-icon"></i>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div> 
                   
                <!-- Sidebar latest videos small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <i class="far fa-play-circle et-card-video-icon"></i>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                  
                <!-- Sidebar latest videos small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <i class="far fa-play-circle et-card-video-icon"></i>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                  
                <!-- Sidebar latest videos small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <i class="far fa-play-circle et-card-video-icon"></i>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                   
                <!-- Horizontal ad -->                       
                <div class="card mb-4 et-card-ad">
                    <img class="card-img" src="img/300x600.png" alt="">
                </div>
                    
            </div>
            <!-- ####### End of Left sidebar ####### -->
                
            <!-- ####### News list ####### -->
            <div class="col-md-6">
               
               <!-- Latest news big card -->
               <div class="card bg-dark text-white et-card">
                   <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                   <div class="card-img-overlay">
                       <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                       <p class="card-text et-card-date">
                           15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                       </p>
                       <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                       <a class="et-card-link" href="#" ></a>
                   </div>
               </div>
               
               <!-- Latest news big card -->
               <div class="card bg-dark text-white et-card">
                   <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                   <div class="card-img-overlay">
                       <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                       <p class="card-text et-card-date">
                           15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                       </p>
                       <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                       <a class="et-card-link" href="#" ></a>
                   </div>
               </div>
               
               <!-- Latest news big card -->
               <div class="card bg-dark text-white et-card">
                   <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                   <div class="card-img-overlay">
                       <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                       <p class="card-text et-card-date">
                           15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                       </p>
                       <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                       <a class="et-card-link" href="#" ></a>
                   </div>
               </div>
               
               <!-- Latest news big card -->
               <div class="card bg-dark text-white et-card">
                   <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                   <div class="card-img-overlay">
                       <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                       <p class="card-text et-card-date">
                           15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                       </p>
                       <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                       <a class="et-card-link" href="#" ></a>
                   </div>
               </div>
               
               <!-- Latest news big card -->
               <div class="card bg-dark text-white et-card">
                   <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                   <div class="card-img-overlay">
                       <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                       <p class="card-text et-card-date">
                           15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                       </p>
                       <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                       <a class="et-card-link" href="#" ></a>
                   </div>
               </div>
               
               <!-- Latest news big card -->
               <div class="card bg-dark text-white et-card">
                   <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                   <div class="card-img-overlay">
                       <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                       <p class="card-text et-card-date">
                           15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                       </p>
                       <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                       <a class="et-card-link" href="#" ></a>
                   </div>
               </div>
               
               <!-- Latest news big card -->
               <div class="card bg-dark text-white et-card">
                   <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                   <div class="card-img-overlay">
                       <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                       <p class="card-text et-card-date">
                           15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                       </p>
                       <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                       <a class="et-card-link" href="#" ></a>
                   </div>
               </div>
               
               <!-- Latest news big card -->
               <div class="card bg-dark text-white et-card">
                   <img class="card-img" src="img/news_big.jpg" alt="Zdjęcie">
                   <div class="card-img-overlay">
                       <h3 class="card-title et-card-title">Superpuchar UEFA: dziewięć miast ubiega się o mecz w 2020 roku</h3>
                       <p class="card-text et-card-date">
                           15 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">2</span>
                       </p>
                       <a class="card-link text-lowercase text-white et-card-category-news" href="#">Newsy</a>
                       <a class="et-card-link" href="#" ></a>
                   </div>
               </div>
               
               <!-- Pagination -->
               <nav aria-label="News pages">
                    <ul class="pagination et-pagination">
                        <li class="page-item disabled">
                            <a class="page-link et-pagination-link" href="#" aria-label="Poprzedni">
                                <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                                <span class="sr-only">Poprzedni</span>
                            </a>
                        </li>
                        <li class="page-item active">
                            <span class="page-link et-pagination-link et-pagination-active-link">
                                1<span class="sr-only">(aktywny)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link et-pagination-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link et-pagination-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link et-pagination-link" href="#" aria-label="Następny">
                                <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                                <span class="sr-only">Następny</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                
            </div>
            <!-- ####### End of News list ####### -->
                
            <!-- ####### Right sidebar ####### -->
            <div class="col-md-3">

                <!-- Sidebar choose category header -->
                <h2 class="text-uppercase mt-0 et-sidebar-title">Wybierz kategorię</h2> 
                                               
                <!-- Choose category -->
                <ul class="nav text-uppercase et-categories-menu">
                       
                    <li class="nav-item">
                        <a class="nav-link" href="#">Newsy</a>       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Artykuły</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Wywiady</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Felietony</a>
                    </li>

                </ul>
                                               
                <!-- Horizontal ad -->                       
                <div class="card mb-4 et-card-ad">
                    <img class="card-img" src="img/300x600.png" alt="">
                </div>
                                              
                <!-- Sidebar latest memes header -->
                <h2 class="text-uppercase et-sidebar-title">Najnowsze memy</h2>
                                               
                <!-- Latest memes small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                                               
                <!-- Latest memes small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                                               
                <!-- Latest memes small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                                               
                <!-- Latest memes small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                                               
                <!-- Latest memes small card -->
                <div class="card bg-dark text-white et-card">
                    <img class="card-img" src="img/news_small.jpg" alt="Zdjęcie">
                    <div class="card-img-overlay">
                        <h3 class="card-title et-card-small-title">Arek Milik po powrocie</h3>
                        <p class="card-text et-card-date">
                            10 stycznia 2018 <i class="fas fa-comment et-card-comments"></i><span class="et-card-comments-number">1</span>
                        </p>
                        <a class="et-card-link" href="#" ></a>
                    </div>
                </div>
                                               
                <!-- Square ad -->                       
                <div class="card mb-4 et-card-ad">
                    <img class="card-img" src="img/300x250.png" alt="">
                </div>               
                                                
            </div>
            <!-- ####### End of Right sidebar ####### -->
               
            <!-- Vertical ad -->
            <img class="mx-auto et-ad-vertical" src="img/728x90.png" alt="">
                
        </div>
    </div>
    <!-- ####### End of Content ####### -->
    
    <!-- ####### Footer ####### -->
    <footer class="et-footer">
        <div class="container px-xl-0">
            <div class="row">
                
                <div class="col-md-3">
                    
                    <!-- Footer menu -->
                    <ul class="nav flex-column text-uppercase">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Newsy</a>
                            
                            <ul class="et-footer-submenu-link">
                                <li class="nav-item"><a class="nav-link" href="#" >Newsy</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Artykuły</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Wywiady</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" >Felietony</a></li>
                            </ul>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Memy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video</a>
                        </li>

                    </ul>
                    
                </div>
                
                <div class="col-md-3">
                    
                    <!-- Footer menu with info pages -->
                    <ul class="nav flex-column text-uppercase">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Redakcja</a>       
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reklama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Polityka prywatności</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontakt</a>
                        </li>

                    </ul>
                    
                </div>
                
                <div class="col-md-3">
                    
                    <!-- Socials -->
                    <div class="et-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="far fa-envelope"></i></a>
                    </div>
                    
                    <!-- Copy -->
                    <div class="et-copy">
                        <p>&copy; 2018 Ekstraklasa Trolls<br />
                        Wszelkie prawa zastrzeżone.<br /><br />
                        Realizacja: <a href="https://kompromix.pl/" target="_blank">kompromix</a></p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </footer>    
    <!-- ####### End of Footer ####### -->    
    
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>